<div class="card shadow-sm">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small><span class="fw-bold">Data de publicação: </span>{{postagem.dataFormatada}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
    </div>
</div>
